@model Projekcik.NETS.Models.ViewModels.Account.UserProfileVM

@{
    ViewBag.Title = "Profil Użytkownika";
}

@if (TempData["SM"] != null)
{
    <div class="alert alert-success">
        @TempData["SM"]
    </div>
}
<h2>Profil Użytkownika</h2>

<hr />
<table>
    
        <ul class="nav navbar-nav">
    
<li>
    <a href="/account/orders" class="btn btn-default">Historia zamówień</a>
    </li><li>
    <a href="/account/orders" class="btn btn-default">Zmień hasło</a>
</li>
         </ul>
</table>
<br /><br />
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">

            <label class="control-label col-md-2" for="HasSidebar">Imię</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="HasSidebar">Nazwisko</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="HasSidebar">Adres E-mail</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmailAdress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmailAdress, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.TimeFinish, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TimeFinish, new { disabled = "disabled", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.TimeFinish, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zmień dane" class="btn btn-default" />
            </div>
        </div>

    </div>
}

